<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>
<body class="bg-light">

<nav th:replace="fragments/header :: nav"></nav>

<div class="d-flex">
    <nav th:replace="fragments/sidebar :: sidebar"></nav>

    <div class="content p-4">
        <h2 class="mb-4">eShop Admin Page</h2>

        <div class="card mb-4">
            <div class="card-body">
                You can edit all the admin stuff here.
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootadmin.min.js"></script>

</body>
</html>